@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

body {
    touch-action: manipulation;
    color: #3A3A3A;
}

:root {
    color-scheme: light;
}

.rb-semibold {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}

.rb-medium {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.rb-light {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.rb-regular {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.rb-bold {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

.picker-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.picker-column {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.picker-scroller {
    position: absolute;
    width: 100%;
    left: 0;
    cursor: grab;
    touch-action: none;
}

.picker-scroller:active {
    cursor: grabbing;
}

.picker-item {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(62, 62, 62, 0.3);
    transition: font-size 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    user-select: none;
}

.picker-item .icon {
    font-size: 22px;
}

.picker-item.selected {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(1.75 / 1.25);
    color: #1F2937;
    letter-spacing: 0.5px;
}

.picker-highlight {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(107, 137, 225, 0.12);
    border-radius: 12px;
    pointer-events: none;
    z-index: 1;
}

.picker-fade-top,
.picker-fade-bottom {
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    pointer-events: none;
    z-index: 10;
}